# requirements.txt
# API
flask
gunicorn
# ML
scikit-learn
pandas
numpy
joblib
# Base de donnees
redis
#psycopg2-binary
# Monitoring
prometheus-client
# MLOps
mlflow
evidently
# Tests
pytest==8.3.4
#pytest-cov==6.0.0
